image_filename = "frames/frame.png"

[stream]
stream_url = 'https://www.youtube.com/watch?v=vMruQGW0LqI'
only_keyframes = true

[detection]
minimum_detection_percentage = 75
minimum_detection_frames = 5
api_url = 'http://localhost:8000/detect'
ignore_points = [
    {x = 0, y = 0},
]
minimum_x = 0
maximum_x = 1200
minimum_y = 0
maximum_y = 720
heatmap_resolution = 30  # Size of each heatmap cell in pixels
heatmap_decay_rate = 0.9  # Rate at which heat decays over time (0-1)
heatmap_threshold = 3.0  # Threshold at which to trigger detection alert
heatmap_save_interval = 5  # How often to save heatmap images (in minutes)
save_image_confidence = 65  # If any detection is above this confidence, save the image

[output]
post_interval = 120 # How often to post in minutes
image_save_interval = 10 # How often to save the image in minutes
line_color = [255, 112, 32, 1]
text_color = [0, 0, 0, 1]
line_thickness = 5
output_file_folder = "saved_images"
replace_hashtags = false # If '#' should be replaced with 'hashtag-'
messages = [
    "Norppa on kivellä!",
]
services = [
    # "Twitter",
    # "Mastodon",
    # "Bluesky"
]

[twitter]
token = ""
token_secret = ""
consumer_key = ""
consumer_secret = ""

[mastodon]
host = ""
token = ""

[bluesky]
host = "https://bsky.social"
login = ""
handle = "username.bsky.social"
password = ""

[kafka]
broker = "localhost:19092"
topic = "detection"
detection_topic = "norppalive-detections"
